
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --inlinePaddingDesktop:4rem;
    --inlinePaddingSmallerDevice:1.25rem
}

/* Common Styles */
.border-0{
    border: none;
}
.pointer{
cursor: pointer;
}
a, a:active, a:focus {
    outline: none;
 }

 button:focus {
    outline: none;
}
header{
    max-width:90rem;
    margin: 0 auto; 
    /* border: yellow 1px solid; */
    padding-inline: var(--inlinePaddingDesktop);
    position: relative;
}
.navBar-Container{
    max-width:90rem;
    margin: 0 auto;
    height: 7.5rem;
    /* border-bottom: blue 2px solid; */
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-block: 0.4rem;
    /* Style for those Info Regarding Drop / Service Details*/
    & .service-info{
        max-width: 50rem;
        margin-left: auto;
        font-size: 0.7rem;
        font-weight: lighter;
    }
}

#hamburgerMenu{
    display: none;
}
.BrandLogo{
    display: block;
    min-width: 10rem;
    max-width: 15rem;
    margin-top: auto;
}
.navigation-header{
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    /* flex: 1; */
    margin-block: auto;
}
.navbar-menu{
   display: flex;
   gap: 1rem;
   justify-content: center;
   align-items: center;
   width: 50rem;
   /* border:  yellow solid 1px; */
   padding-inline: 0.4rem;
   & a{
    margin: 0 auto;
    text-decoration: none;
    color: black;
    text-align: center;
    width: fit-content;
   }
   & .login-indicator{
    max-width: 8rem;
   }
}
.socialMediaIcons-group{
     display: block;
     margin-left: auto;
}
.side-bar{
    display: none;
}
#closeButtonIcon{
    display: block;
    margin-left:auto;
}

/* booking-download-section */
.booking-download-section{
    background-image: url(./images/Banner-Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 14rem;
    border-radius: 1.4rem;
    padding:2.25rem 2rem;
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

}
/* Styles for 1st conatiner Present inside  of  booking-download-section */
.pickUp-OptionContainer{
  display: flex;
  gap: 0.8rem;
  & button{
      color: white;
    cursor: pointer;
    background-color: transparent;
    background-color: transparent;
    /* border: 1px black solid; */
    height: 1.8rem;
    padding: 0.4rem;
  }
  & select{
    color: white;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
     border-radius: 1rem;
     padding: 0.4rem;
  }
}

/* Styles for 2nd conatiner Present inside  of  booking-download-section */
.booking-type-container{
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem;
}

/* common design for  input boxes Present which includes calender drop location*/
.inputCalenderbox{
    width: 11.75rem;
    padding: 0.6rem 1.6rem;
    border-radius: 1rem;
    border: none;
}
/*     Styles for the User Book-Location-Container including the location icon on the start  */
.userLocation-container{
    flex: 1;
        display: flex;
        position: relative;  
        & .pickup-location-icon{
            position: absolute;
            left: 0.8rem;
            top: 32%;
        }
        & select{
            flex: 1;
        }
    }
   .dropLocation{
    display: none;
   }

/*Styles for the User Vehicle-pickup-date-input-container including the calender icon on the start  */
.vehicle-pickup-date-input-container{
    flex: 1;
position: relative;
& .calender-icon{
   position: absolute;
   left: 0.8rem;
   top: 38%;
}
& input{
    width: 100%;
}
}

/*     Styles for the User  Vehicle end-date-input-container including the calender icon on the start  */
.vehicle-end-date-input-container{
    flex: 1;
    position: relative;
    & .calender-icon{
       position: absolute;
       left: 0.8rem;
       top: 38%;
    }   
    & input{
        width: 100%;
    }
}

/* Styles for the Search Glass */
.search-glass{
   background-color: white;
   padding: 0.4rem 0.6rem;
   border-radius: 1rem;
}
.seperation{
    width: 0.5rem;
    /* height: 1.4rem; */
    border-left: 1px solid white;
}
.search-button{
    padding: 0.4rem 2.8rem;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;

}
/* Styles for 3rd conatiner Present inside  of  booking-download-section */
.app-download-section{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 0.8rem;
    color: white;
}


.store-links-container{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 0.4rem;
    a{
        width: 6.875rem;
        height: 2rem;
        background-size: contain;
    }
    & .appStore{       
        background-image: url('./images/AppStore-Black.svg');        
    }
    & .playStore{     
        background-image: url('./images/BlackPlayStoreButton.svg');       
    }
}

.support-options-container{
    position: absolute;
    right: 0;
    z-index: 4;
    width: 3rem;
    height: 2.4rem;
    border-top-left-radius:2rem;
    border-bottom-left-radius:2rem;
    background-color: white;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
     display: flex;
     padding-left: 0.25rem;
     align-items: center;
}
.item1{
    top: 48%;   
}
.item2{
    top: 68%;
}
.pickUp-OptionContainer>button:hover{
    border-bottom: 1px solid black;
}

.border-bottom{
    border: 1px solid black;
}
@media(max-width:1024px){
    .BrandLogo{
        width: 12.5rem;
        height: 2.8rem;
    }

.navigation-header{
 margin-top: auto;
 gap: 2rem;
}
.navbar-menu{
    gap: 0.6rem;
    & a{
        font-size: 0.75rem;
        font-weight: 600;
    }
}

/* Header Search button */
.search-button{
    padding: 0.4rem 1.4rem;;
}
}

/* Resposnive Design for Mobile Desigin */
@media(max-width:835px){

    header{
        padding-inline: var(--inlinePaddingSmallerDevice);
    }
    .socialMediaIcons-group{
        display: none;
    }
    .navBar-Container{
        height: 6rem;
        padding: 0.2rem;
         & .service-details{
            display: none;
         }

    }
   .BrandLogo{
     width: 12.5rem;
     height: 2.5rem;
   }
   .Brandlogo-hamburger{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: blue 2px solid; */

    & #hamburgerMenu{
        display: block;
        width: 1.8rem;
    }
   }
   .navbar-menu{
    display: none;
   }

   /* Side Nav  Desigin Styles */
   .side-bar{
    display: none;
    position: absolute;
     flex-direction: column;
     padding:1.5rem;
     gap: 1rem;
     width: 80%;
     height: 34rem;
     background-color: white;
     top: 0;
     right: 0;
     z-index: 9;
     border: black 0.1rem solid;
     border-width:thin;

     & .drop-menu-navMenu{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
        height:100%;
        padding-inline: 1.5rem;
        /* Selecting the a tag present inside  */
        & a{
            text-decoration: none;
            border-bottom: 0.1rem black solid;
            width: 100%;
            padding-block:0.6rem ;
        }
        & .loginSignUpButton{
            margin-top: auto;
            border-radius: 1rem;
            object-fit: contain;
            border: 0;
        }
     }
     & .closeIcon{
        display: block;
        margin-left: auto;
        padding-inline: 1rem;
     }
   }
   /* By Using Js To Add this class */
   .show-dropDownMenu{
    display: flex;
   }

   /* Booking Section Container */

   .booking-download-section{
        height: 7.5rem;
        padding:1.2rem 2.5rem;
   }

   .booking-type-container{
    display: none;
   }

   .pickUp-OptionContainer{
    display:none;
    font-size: large;
    justify-content: space-evenly;
    gap: 0.4rem;
    flex: 1;
    /* border: orange 2px solid; */
    & button{
      color: black;
      padding: 0rem;
      font-size: x-small;
      flex: 1;
    }
    & select{
      flex: 1;
      color: black;
      border: none;
      /* background-color: rgba(255, 255, 255, 0.1); Semi-transparent background */
       border-radius: 1rem;
       padding: 0rem;
    }
   }

   .dropLocation{
    display: block;
   }

   .userLocation-container{
       & select{
        background-color: #F6F7F9;
        width: 100%;
    }
   }
   .app-download-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    & p{
        font-size: 0.8rem;
    }
   }
/* Hide the Serach class */
   .search-glass{
    display: none;
   }

   /* Changing the background color of the input boxes */
   .inputCalenderbox{
   background-color: #F6F7F9;
    }
     /* Chaning the Layout  booking-type-container and adding via js on mobileScreen Devices*/
    .changeLayout{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
    }
    .search-button{
        padding: 0.4rem 2.8rem;
        border-radius: 1rem;
        background-color: #E21E26;
        color: white;
        width: fit-content;
        margin: 0 auto;
    }
}
